<html>
     <style>
        p{text-align: left;}
     </style>
        <body>
            <p></a></sub</p>
            <p>Parker KA, Ewen JG, Weiser EL, <strong>Rayne A</strong>, Steeves TE, Seddon PJ, ... Armstrong DP. Contemporary conservation translocations are foundational to Predator-Free aspirations in Aotearoa New Zealand: a review. In Review for <em>NZ J Ecol</em>. <sub><a href="https://doi.org/10.32942/osf.io/bdaxh">[DOI]</a> <a href="../files/Parker_et_al_2021.pdf">[PDF]</a></sub></p>
             <p>Cox B, <strong>Rayne A</strong>, Sharp E, Walker L, Steeves TE. Allyship and self-determination: Caring-with in
academic spaces. In preparation</p>
            <p>Sharp E, Cox B, <strong>Rayne A</strong>. The ‘Good Kiwi’ and the ‘Good Climate Citizen’: Dairy consumption, national identity and complex climate-related values in Aotearoa New Zealand. In preparation for submission to <em>J Rural Stud</em></p>
     </body>
</html>
