<html>
	<body>
<p align="left">Forsdick N, Adams CI, Alexander A, Clark AC, Collier-Robinson L, Cubrinovska I, Croll Dowgray M, Dowle E, Duntsch L, Galla SJ, Howell L, Magid M, <strong>Rayne A</strong>, Verry AJF, Wold J, Steeves TE. 2022 <em>preprint</em>. Current applications and future promise of genetic/genomic data for conservation in an Aotearoa New Zealand context. <em>EcoEvoRxiv</em>. <sub><a href="https://doi.org/10.32942/osf.io/7bnjw">[DOI]</a> <a href="../files/Forsdick_et_al_2021.pdf">[PDF]</a></sub</p>
<p align="left">Parker KA, Ewen JG, Weiser EL, <strong>Rayne A</strong>, Steeves TE, Seddon PJ, ... Armstrong DP. 2022 <em>preprint</em>. Contemporary conservation translocations are foundational to Predator-Free aspirations in Aotearoa New Zealand: a review. <em>EcoEvoRxiv</em>. <sub><a href="https://doi.org/10.32942/osf.io/bdaxh">[DOI]</a> <a href="../files/Parker_et_al_2021.pdf">[PDF]</a></sub></p>
</body>
</html>
