<html>
	<body>
	<p align="left"><strong>Rayne A</strong>, Byrnes G, Collier-Robinson L, Hollows J, McIntosh A, Ramsden M, Rupene M, Tamati-Elliffe P, Thoms C, Steeves TE. 2020. Centring Indigenous knowledge systems to re-imagine conservation translocations. <em>People and Nature</em>. 2: 512–526. <sub><a href="https://besjournals.onlinelibrary.wiley.com/doi/10.1002/pan3.10126">[DOI]</a> <a href="../files/Rayne_et_al_2020.pdf">[PDF]</a></sub></p>
	<p align="left">Collier-Robinson L, <strong>Rayne A</strong>, Rupene M, Thoms C, Steeves TE. Embedding indigenous principles in genomic research of culturally significant species: a conservation genomics case study. <em>NZ Journal of Ecology</em>. 43: 3389. <sub><a href="https://dx.doi.org/10.20417/nzjecol.43.36">[DOI]</a> <a href="../files/Collier-Robinson_et_al_2019.pdf">[PDF]</a></sub></p>
	</body>
</html>
